
@{
    ViewBag.Title = "主页";
}
<link href="~/Content/default.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-4">
        <div class="well">
            <h5>

                <img src="~/Images/logo/san_littelogo.png" class="img-responsive" style="display:inline" /> 圣天国学堂
            </h5>
            <hr />
            <p>  圣天国学堂，由圣天数码科技支撑下的文化产业中心。致力于国学文化、儿童及青少年教育、文化教育的科技手段等三个方面的应用转化研究。公司研发实力雄厚，拥有来自西南大学、 重庆大学、重庆两江书画院、四川乡情书画院、重庆棋院、中科院重庆分院等知名机构的专家学者组成的顾问团队，并构建了多个研发工作室。。</p>

            <p>
                圣天国学堂是公司旗下首个面向社会开放的国学文化教育品牌，其特点是我们独创的教学理论的<strong>“窗口引导、临界施教、镜式启发、轨道跳跃”。</strong>
            </p>
        </div>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Images/Lunbo/1.jpg" style="width:100%" data-src="" alt="First slide">

                    <div class="container">
                        <div class="carousel-caption">
                            <!--<h1>Example headline.</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida          at  eget metus.                 Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Images/Lunbo/2.jpg" style="width:100%" data-src="" alt="Second slide">
                    <div class="container">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Images/Lunbo/3.jpg" style="width:100%" data-src="" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div><!-- /.carousel -->

    </div>
    <div class="col-md-8">
        <div class="thumbnail">
            <img src="~/Images/Title/skyandclouds.jpg" alt="天高云淡" />
            <div class="caption">
                <h4>毛泽东: 清平乐·六盘山 天高云淡<small> 尺幅：180×35cm 2017 年春</small></h4>
                <dl class="dl-horizontal">
                    <dt>款 识：</dt>
                    <dd>丁酉春 彭天祚</dd>
                    <dt>名 印：</dt>
                    <dd>朱纹：彭天祚/ 河南张旭辉篆刻</dd>
                    <dt></dt>
                    <dd>白纹：长河书画/ 同上</dd>
                    <dt>腰 章：</dt>
                    <dd>白纹：耳顺之年/ 同上</dd>
                    <dt>起首章：</dt>
                    <dd> 朱纹：师法造化 中得心源/ 重庆·万州程小平篆刻</dd>
                </dl>
            </div>
        </div>
        <div class="thumbnail">
            <img src="~/Images/Title/mei.jpg" alt="梅开五福" />
            <div class="caption">
                <h4>梅开五福《画梅短歌》<small>尺幅：136×69cm &nbsp;&nbsp; &nbsp;&nbsp;2016 &nbsp;年春</small></h4>
                <dl class="dl-horizontal">
                    <dt>款 识：</dt>
                    <dd>丙申春 长河撰文并书</dd>
                    <dt>名 印：</dt>
                    <dd>朱纹 彭天祚/ 河南张旭辉篆刻</dd>
                    <dt></dt>
                    <dd>白纹 长河书画/ 同上</dd>
                    <dt>起首章：</dt>
                    <dd> 朱纹 吉祥如意/ 同上</dd>
                    <dt>压角章：</dt>
                    <dd>朱纹 与君把酒对夕阳/ 同上</dd>
                    
                </dl>
            </div>
        </div>
        <div class="thumbnail">
            <img src="~/Images/Title/qingzhou.jpg" alt="轻舟已过万重山" />
            <div class="caption">
                <h4>轻舟已过万重山<small>尺幅：136×69cm &nbsp;&nbsp; &nbsp;&nbsp;2015 年霜降</small></h4>
                <dl class="dl-horizontal">
                    <dt>款 识：</dt>
                    <dd>乙未霜降·渝州长河</dd>
                    <dt>名 印：</dt>
                    <dd>白纹 长河书画/ 河南张旭辉篆刻</dd>
                    <dt></dt>
                    <dd>朱纹 长河书画/ 同上</dd>
                    <dt>起首章：</dt>
                    <dd> 耳顺之年/ 同上</dd>
                    <dt>压角章：</dt>
                    <dd>巴山渝水是画廊/ 同上</dd>

                </dl>
            </div>
        </div>
    </div>
</div>
